/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

h1 {
    margin: 0;
}

.upload-container {
    text-align: center;
    margin-top: 50px;
}

#imageInput {
    margin: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#result {
    text-align: center;
    margin-top: 30px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}